:root {
  --Dark-cyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);
  --Very-dark-blue: hsl(212, 21%, 14%);
  --Dark-grayish-blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
}

html {
  box-sizing: border-box;
  font-size: 14px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: var(--Cream);
}

article {
  border-radius: 10px 10px 10px 10px;
  /*height: 552px;*/
  max-height: 90vh;
  padding-bottom: 10px;
  margin: 22px 13px 30px 13px;
  background-color: var(--White);
}

article header > .card-image {
  background: url("images/image-product-mobile.jpg") no-repeat top/cover;
  height: 230px;
  border-radius: 9px 9px 0 0;
}

.txt-style-1 {
  margin-top: 20px;
  margin-left: 20px;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color: var(--Dark-grayish-blue);
}

article section h1 {
  font-family: "Fraunces", serif;
  font-size: 31px;
  margin: 10px 0 15px 16px;
  color: var(--Very-dark-blue);
}

.txt-style-2 {
  margin-left: 20px;
  line-height: 1.7;
  text-align: left;
  color: var(--Dark-grayish-blue);
}

.price-style-1 {
  display: inline;
  font-size: 33px;
  margin-left: 20px;
  margin-top: 5px;
  font-family: "Fraunces", serif;
  font-weight: 700;
  color: var(--Dark-cyan);
}

del {
  display: inline;
  margin-left: 17px;
  vertical-align: super;
  color: var(--Dark-grayish-blue);
}
button {
  display: block;
  width: 87%;
  padding: 14px;
  margin: 10px auto 15px auto;
  font-weight: 700;
  border: none;
  border-radius: 7px;
  background-color: var(--Dark-cyan);
  color: var(--White);
}

button img {
  margin-right: 10px;
  vertical-align: sub;
}

@media screen and (min-width: 48em) {
  article {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 77%;
    max-height: 44vh;
    margin: 90px auto;
    padding: 0;
  }

  article header > .card-image {
    background: url("images/image-product-desktop.jpg") no-repeat top/cover;
    width: 310px;
    height: 42vh;
    border-radius: 10px 0 0 10px;
  }

  article section h1 {
    font-size: 39px;
    line-height: 1.1;
  }

  .txt-style-1 {
    margin-top: 20px;
  }

  .txt-style-2 {
    width: 223px;
  }

  .break-line {
    display: block;
  }

  button {
    width: 75%;
    margin: 22px 0 14px 21px;
  }

  br {
    display: none;
  }
}

@media screen and (min-width: 64em) {
  article {
    max-width: 65%;
    max-height: 67vh;
  }

  article header > .card-image {
    background: url("/images/image-product-desktop.jpg") no-repeat top/cover;
    height: 67vh;
  }

  section {
    padding: 13px;
  }

  .txt-style-1 {
    margin-top: 12px;
  }

  .txt-style-2 {
    width: 223px;
  }

  button:hover {
    cursor: pointer;
    background-color: hsl(131, 22%, 29%);
  }
  br {
    display: none;
  }
}
